<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.green.dao.BoardDAO">
	<select id="selectBoardList" resultType="kr.green.green.vo.BoardVO">
		SELECT * FROM board WHERE bd_type = #{bd_type} AND bd_del = 'N'
		ORDER BY bd_num desc;
	</select>
	<select id="getBoard" resultType="kr.green.green.vo.BoardVO">
		SELECT * FROM board WHERE bd_num = #{bd_num} AND bd_del = 'N';
	</select>

</mapper>